@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@import '@gravity-ui/illustrations/styles/styles.scss';
@import "@gravity-ui/uikit/styles/styles.css";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html,
body,
#__next {
    min-width: 320px;
    margin: 0;
}

.g-segmented-radio-group {
    border-radius: var(--_--border-radius);
    background-color: var(--g-color-base-generic);
}

.g-segmented-radio-group__option_checked:after {
    background-color: var(--g-color-base-background);
    border: 0;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}

.g-segmented-radio-group__option:not(.g-segmented-radio-group__option_checked):not(.g-segmented-radio-group__option_disabled):hover:after {
    background-color: transparent;
}

.g-segmented-radio-group__option {
    border: 0;
}

.g-segmented-radio-group__option:before {
    background: transparent;
}

.g-segmented-radio-group__option:after {
    border-color: transparent;
    --__--border-radius-option: var(--_--border-radius);
    border-radius: var(--__--border-radius-option);
    border-start-end-radius: var(--__--border-radius-option);
    border-end-end-radius: var(--__--border-radius-option);
    border-start-start-radius: var(--__--border-radius-option);
    border-end-start-radius: var(--__--border-radius-option);
}

.g-segmented-radio-group__option_checked .g-segmented-radio-group__option-text {
    color: var(--g-color-text-primary);
}

.g-text__expand {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

.g-table__table {
    width: 100%;
}

.g-label__content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gn-composite-bar__root-menu-item {
    margin: 0 10px 3px 10px;
    border-radius: 8px;
}

.gn-aside-header_compact .gn-composite-bar__root-menu-item {
    margin: 0 0 3px 0;
}

.gn-action-bar-section_type_secondary {
    margin-right: 14px;
}

.gn-aside-header__pane-container {
    overflow: auto;
}

.gn-aside-header__content {
    overflow: auto;
    height: 100%;
}

.gn-aside-header {
    scrollbar-color: transparent;
}

.g-root {
    --g-text-body-1-font-size: 14px;
    --g-text-body-1-line-height: 19px;
    --g-text-body-2-font-size: 16px;
    --g-text-body-2-line-height: 21px;
    --g-text-body-3-font-size: 18px;
    --g-text-body-3-line-height: 25px;
    --g-text-body-short-font-size: 14px;
    --g-text-body-short-line-height: 17px;
    --g-text-caption-1-font-size: 10px;
    --g-text-caption-1-line-height: 13px;
    --g-text-caption-2-font-size: 12px;
    --g-text-caption-2-line-height: 17px;
    --g-text-header-1-font-size: 21px;
    --g-text-header-1-line-height: 25px;
    --g-text-header-2-font-size: 25px;
    --g-text-header-2-line-height: 29px;
    --g-text-subheader-1-font-size: 14px;
    --g-text-subheader-1-line-height: 19px;
    --g-text-subheader-2-font-size: 16px;
    --g-text-subheader-2-line-height: 21px;
    --g-text-subheader-3-font-size: 18px;
    --g-text-subheader-3-line-height: 25px;
    --g-text-display-1-font-size: 29px;
    --g-text-display-1-line-height: 37px;
    --g-text-display-2-font-size: 33px;
    --g-text-display-2-line-height: 41px;
    --g-text-display-3-font-size: 41px;
    --g-text-display-3-line-height: 49px;
    --g-text-display-4-font-size: 49px;
    --g-text-display-4-line-height: 53px;
    --g-text-code-1-font-size: 13px;
    --g-text-code-1-line-height: 19px;
    --g-text-code-2-font-size: 15px;

    --g-border-radius-xs: 10px;
    --g-border-radius-s: 12px;
    --g-border-radius-m: 14px;
    --g-border-radius-l: 18px;
    --g-border-radius-xl: 22px;
}

.g-root_theme_light {

    --g-font-family-sans: 'Jost';
    --g-font-family-monospace: 'Jost';

    --g-color-private-black-950-solid: rgb(12 12 12);
    --g-color-private-black-900-solid: rgb(25 25 24);
    --g-color-private-black-850-solid: rgb(37 37 36);
    --g-color-private-black-800-solid: rgb(49 49 48);
    --g-color-private-black-750-solid: rgb(62 62 60);
    --g-color-private-black-700-solid: rgb(74 74 72);
    --g-color-private-black-650-solid: rgb(86 86 84);
    --g-color-private-black-600-solid: rgb(99 98 96);
    --g-color-private-black-550-solid: rgb(111 111 108);
    --g-color-private-black-500-solid: rgb(124 123 121);
    --g-color-private-black-450-solid: rgb(136 135 133);
    --g-color-private-black-400-solid: rgb(148 148 145);
    --g-color-private-black-350-solid: rgb(161 160 157);
    --g-color-private-black-300-solid: rgb(173 172 169);
    --g-color-private-black-250-solid: rgb(185 185 181);
    --g-color-private-black-200-solid: rgb(198 197 193);
    --g-color-private-black-150-solid: rgb(210 209 205);
    --g-color-private-black-100-solid: rgb(222 221 217);
    --g-color-private-black-50-solid: rgb(235 234 229);
    --g-color-private-black-20-solid: rgb(242 241 236);

    --g-color-private-orange-500-solid: rgb(254 132 24);
    --g-color-private-orange-450-solid: rgb(253 144 48);
    --g-color-private-orange-400-solid: rgb(253 157 72);
    --g-color-private-orange-350-solid: rgb(252 170 96);
    --g-color-private-orange-300-solid: rgb(251 183 121);
    --g-color-private-orange-250-solid: rgb(250 195 145);
    --g-color-private-orange-200-solid: rgb(249 208 169);
    --g-color-private-orange-150-solid: rgb(249 221 193);
    --g-color-private-orange-100-solid: rgb(248 227 205);
    --g-color-private-orange-50-solid: rgb(248 233 217);

    --g-color-private-green-500-solid: rgb(70 192 130);
    --g-color-private-green-450-solid: rgb(89 198 143);
    --g-color-private-green-400-solid: rgb(109 204 155);
    --g-color-private-green-350-solid: rgb(129 210 167);
    --g-color-private-green-300-solid: rgb(149 216 180);
    --g-color-private-green-250-solid: rgb(168 222 192);
    --g-color-private-green-200-solid: rgb(188 228 204);
    --g-color-private-green-150-solid: rgb(208 234 216);
    --g-color-private-green-100-solid: rgb(217 237 223);
    --g-color-private-green-50-solid: rgb(227 240 229);

    --g-color-private-yellow-500-solid: rgb(254 196 107);
    --g-color-private-yellow-450-solid: rgb(253 201 122);
    --g-color-private-yellow-400-solid: rgb(253 207 137);
    --g-color-private-yellow-350-solid: rgb(252 212 152);
    --g-color-private-yellow-300-solid: rgb(251 218 167);
    --g-color-private-yellow-250-solid: rgb(250 224 181);
    --g-color-private-yellow-200-solid: rgb(249 229 196);
    --g-color-private-yellow-150-solid: rgb(249 235 211);
    --g-color-private-yellow-100-solid: rgb(248 238 219);
    --g-color-private-yellow-50-solid: rgb(248 240 226);

    --g-color-private-red-500-solid: rgb(254 25 79);
    --g-color-private-red-450-solid: rgb(253 49 97);
    --g-color-private-red-400-solid: rgb(253 74 115);
    --g-color-private-red-350-solid: rgb(252 98 133);
    --g-color-private-red-300-solid: rgb(251 123 151);
    --g-color-private-red-250-solid: rgb(250 148 169);
    --g-color-private-red-200-solid: rgb(249 172 187);
    --g-color-private-red-150-solid: rgb(249 197 205);
    --g-color-private-red-100-solid: rgb(248 209 214);
    --g-color-private-red-50-solid: rgb(248 221 223);

    --g-color-private-blue-500-solid: rgb(73 161 241);
    --g-color-private-blue-450-solid: rgb(93 170 241);
    --g-color-private-blue-400-solid: rgb(112 180 241);
    --g-color-private-blue-350-solid: rgb(131 189 241);
    --g-color-private-blue-300-solid: rgb(151 199 241);
    --g-color-private-blue-250-solid: rgb(170 208 241);
    --g-color-private-blue-200-solid: rgb(189 218 241);
    --g-color-private-blue-150-solid: rgb(208 227 241);
    --g-color-private-blue-100-solid: rgb(218 232 241);
    --g-color-private-blue-50-solid: rgb(228 237 241);

    --g-color-private-cool-grey-500-solid: rgb(121 143 162);
    --g-color-private-cool-grey-450-solid: rgb(135 155 171);
    --g-color-private-cool-grey-400-solid: rgb(149 166 179);
    --g-color-private-cool-grey-350-solid: rgb(163 178 188);
    --g-color-private-cool-grey-300-solid: rgb(177 189 197);
    --g-color-private-cool-grey-250-solid: rgb(191 200 206);
    --g-color-private-cool-grey-200-solid: rgb(205 212 215);
    --g-color-private-cool-grey-150-solid: rgb(219 223 223);
    --g-color-private-cool-grey-100-solid: rgb(226 229 228);
    --g-color-private-cool-grey-50-solid: rgb(233 235 232);

    --g-color-private-purple-500-solid: rgb(153 98 208);
    --g-color-private-purple-450-solid: rgb(164 115 211);
    --g-color-private-purple-400-solid: rgb(174 131 215);
    --g-color-private-purple-350-solid: rgb(185 148 219);
    --g-color-private-purple-300-solid: rgb(195 164 223);
    --g-color-private-purple-250-solid: rgb(205 180 226);
    --g-color-private-purple-200-solid: rgb(216 197 230);
    --g-color-private-purple-150-solid: rgb(226 213 234);
    --g-color-private-purple-100-solid: rgb(231 221 235);
    --g-color-private-purple-50-solid: rgb(237 230 237);

    --g-color-private-brand-50: rgb(22 102 102 / 0.1);
    --g-color-private-brand-100: rgb(22 102 102 / 0.15);
    --g-color-private-brand-150: rgb(22 102 102 / 0.2);
    --g-color-private-brand-200: rgb(22 102 102 / 0.3);
    --g-color-private-brand-250: rgb(22 102 102 / 0.4);
    --g-color-private-brand-300: rgb(22 102 102 / 0.5);
    --g-color-private-brand-350: rgb(22 102 102 / 0.6);
    --g-color-private-brand-400: rgb(22 102 102 / 0.7);
    --g-color-private-brand-450: rgb(22 102 102 / 0.8);
    --g-color-private-brand-500: rgb(22 102 102 / 0.9);
    --g-color-private-brand-550: rgb(22 102 102);
    --g-color-private-brand-550-solid: rgb(22 102 102);
    --g-color-private-brand-1000-solid: rgb(32 40 44);
    --g-color-private-brand-950-solid: rgb(32 44 48);
    --g-color-private-brand-900-solid: rgb(30 51 54);
    --g-color-private-brand-850-solid: rgb(29 58 61);
    --g-color-private-brand-800-solid: rgb(28 66 68);
    --g-color-private-brand-750-solid: rgb(27 73 75);
    --g-color-private-brand-700-solid: rgb(26 80 82);
    --g-color-private-brand-650-solid: rgb(24 87 88);
    --g-color-private-brand-600-solid: rgb(23 95 95);
    --g-color-private-brand-500-solid: rgb(45 116 116);
    --g-color-private-brand-450-solid: rgb(67 131 130);
    --g-color-private-brand-400-solid: rgb(90 145 144);
    --g-color-private-brand-350-solid: rgb(112 160 158);
    --g-color-private-brand-300-solid: rgb(135 174 172);
    --g-color-private-brand-250-solid: rgb(157 188 185);
    --g-color-private-brand-200-solid: rgb(180 203 199);
    --g-color-private-brand-150-solid: rgb(202 217 213);
    --g-color-private-brand-100-solid: rgb(213 224 220);
    --g-color-private-brand-50-solid: rgb(225 232 227);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-background: #f7f6f1;
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);

    --gil-color-object-base: #337672;
    --gil-color-object-accent-heavy: #f7f6f1;
    --gil-color-object-hightlight: #166666;
    --gil-color-shadow-over-object: var(--g-color-private-yellow-650-solid);
    --gil-color-background-lines: var(--g-color-private-black-450-solid);
    --gil-color-background-shapes: rgb(37 37 36);
    --gil-color-object-accent-light: var(--g-color-private-white-1000-solid);
    --gil-color-object-danger: var(--g-color-private-red-550-solid);
}

.g-root_theme_dark {

    --g-font-family-sans: 'Jost';
    --g-font-family-monospace: 'Jost';

    --g-color-private-orange-1000-solid: rgb(240 224 207);
    --g-color-private-orange-950-solid: rgb(238 217 195);
    --g-color-private-orange-900-solid: rgb(233 202 172);
    --g-color-private-orange-850-solid: rgb(228 187 149);
    --g-color-private-orange-800-solid: rgb(224 173 127);
    --g-color-private-orange-750-solid: rgb(219 158 104);
    --g-color-private-orange-700-solid: rgb(214 143 81);
    --g-color-private-orange-650-solid: rgb(209 128 58);
    --g-color-private-orange-600-solid: rgb(205 114 35);

    --g-color-private-green-1000-solid: rgb(222 236 228);
    --g-color-private-green-950-solid: rgb(213 232 224);
    --g-color-private-green-900-solid: rgb(196 225 215);
    --g-color-private-green-850-solid: rgb(179 218 207);
    --g-color-private-green-800-solid: rgb(162 211 198);
    --g-color-private-green-750-solid: rgb(145 204 189);
    --g-color-private-green-700-solid: rgb(128 197 181);
    --g-color-private-green-650-solid: rgb(111 190 172);
    --g-color-private-green-600-solid: rgb(94 183 164);

    --g-color-private-yellow-1000-solid: rgb(248 238 219);
    --g-color-private-yellow-950-solid: rgb(249 235 211);
    --g-color-private-yellow-900-solid: rgb(249 229 196);
    --g-color-private-yellow-850-solid: rgb(250 224 181);
    --g-color-private-yellow-800-solid: rgb(251 218 167);
    --g-color-private-yellow-750-solid: rgb(252 212 152);
    --g-color-private-yellow-700-solid: rgb(253 207 137);
    --g-color-private-yellow-650-solid: rgb(253 201 122);
    --g-color-private-yellow-600-solid: rgb(254 196 107);

    --g-color-private-red-1000-solid: rgb(244 217 219);
    --g-color-private-red-950-solid: rgb(243 207 211);
    --g-color-private-red-900-solid: rgb(242 187 197);
    --g-color-private-red-850-solid: rgb(240 168 182);
    --g-color-private-red-800-solid: rgb(238 148 167);
    --g-color-private-red-750-solid: rgb(236 128 152);
    --g-color-private-red-700-solid: rgb(234 109 137);
    --g-color-private-red-650-solid: rgb(233 89 123);
    --g-color-private-red-600-solid: rgb(231 70 108);

    --g-color-private-blue-1000-solid: rgb(218 232 241);
    --g-color-private-blue-950-solid: rgb(208 227 241);
    --g-color-private-blue-900-solid: rgb(189 218 241);
    --g-color-private-blue-850-solid: rgb(170 208 241);
    --g-color-private-blue-800-solid: rgb(151 199 241);
    --g-color-private-blue-750-solid: rgb(131 189 241);
    --g-color-private-blue-700-solid: rgb(112 180 241);
    --g-color-private-blue-650-solid: rgb(93 170 241);
    --g-color-private-blue-600-solid: rgb(73 161 241);

    --g-color-private-cool-grey-1000-solid: rgb(224 228 228);
    --g-color-private-cool-grey-950-solid: rgb(217 222 224);
    --g-color-private-cool-grey-900-solid: rgb(202 211 216);
    --g-color-private-cool-grey-850-solid: rgb(187 199 207);
    --g-color-private-cool-grey-800-solid: rgb(172 187 199);
    --g-color-private-cool-grey-750-solid: rgb(156 175 190);
    --g-color-private-cool-grey-700-solid: rgb(141 163 182);
    --g-color-private-cool-grey-650-solid: rgb(126 152 173);
    --g-color-private-cool-grey-600-solid: rgb(111 140 165);

    --g-color-private-purple-1000-solid: rgb(231 221 235);
    --g-color-private-purple-950-solid: rgb(226 213 234);
    --g-color-private-purple-900-solid: rgb(216 197 230);
    --g-color-private-purple-850-solid: rgb(205 180 226);
    --g-color-private-purple-800-solid: rgb(195 164 223);
    --g-color-private-purple-750-solid: rgb(185 148 219);
    --g-color-private-purple-700-solid: rgb(174 131 215);
    --g-color-private-purple-650-solid: rgb(164 115 211);
    --g-color-private-purple-600-solid: rgb(153 98 208);

    --g-color-private-brand-50: rgb(203 255 92 / 0.1);
    --g-color-private-brand-100: rgb(203 255 92 / 0.15);
    --g-color-private-brand-150: rgb(203 255 92 / 0.2);
    --g-color-private-brand-200: rgb(203 255 92 / 0.3);
    --g-color-private-brand-250: rgb(203 255 92 / 0.4);
    --g-color-private-brand-300: rgb(203 255 92 / 0.5);
    --g-color-private-brand-350: rgb(203 255 92 / 0.6);
    --g-color-private-brand-400: rgb(203 255 92 / 0.7);
    --g-color-private-brand-450: rgb(203 255 92 / 0.8);
    --g-color-private-brand-500: rgb(203 255 92 / 0.9);
    --g-color-private-brand-550: rgb(203 255 92);
    --g-color-private-brand-550-solid: rgb(203 255 92);
    --g-color-private-brand-1000-solid: rgb(240 247 219);
    --g-color-private-brand-950-solid: rgb(238 248 211);
    --g-color-private-brand-900-solid: rgb(234 249 196);
    --g-color-private-brand-850-solid: rgb(229 250 181);
    --g-color-private-brand-800-solid: rgb(225 251 167);
    --g-color-private-brand-750-solid: rgb(221 251 152);
    --g-color-private-brand-700-solid: rgb(216 252 137);
    --g-color-private-brand-650-solid: rgb(212 253 122);
    --g-color-private-brand-600-solid: rgb(207 254 107);
    --g-color-private-brand-500-solid: rgb(186 232 86);
    --g-color-private-brand-450-solid: rgb(169 210 80);
    --g-color-private-brand-400-solid: rgb(152 187 75);
    --g-color-private-brand-350-solid: rgb(135 165 69);
    --g-color-private-brand-300-solid: rgb(119 142 63);
    --g-color-private-brand-250-solid: rgb(102 119 57);
    --g-color-private-brand-200-solid: rgb(85 97 51);
    --g-color-private-brand-150-solid: rgb(68 74 46);
    --g-color-private-brand-100-solid: rgb(59 63 43);
    --g-color-private-brand-50-solid: rgb(51 52 40);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}